@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Roboto+Mono:wght@300;400&display=swap");
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

body {
  background: #f5f1ec;
}

.body__404 {
  padding: 5% 30%;
  display: -ms-grid;
  display: grid;
  font-size: 300%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.body__404 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body__404 img {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.body__404 p {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.button__404 {
  background-color: #363c49;
  border: none;
  border-radius: 10px;
  color: #faebd7;
  padding: 15px 30px;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.index__banner {
  font-size: 300%;
  text-align: center;
  background-color: #faebd7;
  color: #363c49;
}

.index__banner h1 {
  font-weight: 300;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__banner p {
  background-color: #363c49;
  color: #faebd7;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 5rem;
}

.index__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-inline: 20%;
  font-size: 2rem;
  color: #262a33;
  gap: 5rem;
  padding-block: 5rem;
}

.index__cards a {
  text-decoration: none;
  color: #262a33;
}

.index__cards a:hover {
  color: #6e6a63;
}

.recetas__cards {
  display: -ms-grid;
  display: grid;
  height: 25vh;
  position: relative;
  border-radius: 10px;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.cards__container h2, .cards__container p {
  background-color: #f5f1ecc5;
  padding: 1rem;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.recetas__carnes::before, .recetas__pastas::before, .recetas__pescados::before, .recetas__vegetales::before, .recetas__pasteleria::before, .recetas__panaderia::before {
  background-image: url(../images/recetas--bg/carnes.jpeg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 15px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.recetas__pastas::before {
  background-image: url(../images/recetas--bg/pastas.jpeg);
}

.recetas__pescados::before {
  background-image: url(../images/recetas--bg/pescados.jpeg);
}

.recetas__vegetales::before {
  background-image: url(../images/recetas--bg/vegetales.jpeg);
}

.recetas__pasteleria::before {
  background-image: url(../images/recetas--bg/pasteleria.jpeg);
}

.recetas__panaderia::before {
  background-image: url(../images/recetas--bg/panaderia.jpeg);
}

header {
  background: #363c49;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 2rem;
}

.nav img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul a {
  text-decoration: none;
  color: #faebd7;
  background: #363c49;
  padding: 2rem;
  font-weight: bold;
  font-size: 175%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav ul a:hover {
  color: #363c49;
  background: #faebd7;
}

.index__banner {
  font-size: 300%;
  text-align: center;
  background-color: #faebd7;
  color: #363c49;
}

.index__banner h1 {
  font-weight: 300;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__banner p {
  background-color: #363c49;
  color: #faebd7;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 5rem;
}

.index__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-inline: 20%;
  font-size: 2rem;
  color: #262a33;
  gap: 5rem;
  padding-block: 5rem;
}

.index__cards a {
  text-decoration: none;
  color: #262a33;
}

.index__cards a:hover {
  color: #6e6a63;
}

.recetas__cards {
  display: -ms-grid;
  display: grid;
  height: 25vh;
  position: relative;
  border-radius: 10px;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.cards__container h2, .cards__container p {
  background-color: #f5f1ecc5;
  padding: 1rem;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.recetas__carnes::before, .recetas__pastas::before, .recetas__pescados::before, .recetas__vegetales::before, .recetas__pasteleria::before, .recetas__panaderia::before {
  background-image: url(../images/recetas--bg/carnes.jpeg);
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 15px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.recetas__pastas::before {
  background-image: url(../images/recetas--bg/pastas.jpeg);
}

.recetas__pescados::before {
  background-image: url(../images/recetas--bg/pescados.jpeg);
}

.recetas__vegetales::before {
  background-image: url(../images/recetas--bg/vegetales.jpeg);
}

.recetas__pasteleria::before {
  background-image: url(../images/recetas--bg/pasteleria.jpeg);
}

.recetas__panaderia::before {
  background-image: url(../images/recetas--bg/panaderia.jpeg);
}

.recetas__titulo {
  font-size: 300%;
  text-align: center;
  padding: 3rem;
  background-color: #faebd7;
  color: #363c49;
}

.recetas__titulo h1 {
  padding-bottom: 2rem;
}

.recetas__principal {
  margin: 3rem;
  padding: 2rem;
  font-size: 1.5rem;
  border: solid 1px #8a8888;
  margin-inline: 20%;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
}

.recetas__principal .cards {
  padding: 2rem;
  border-bottom: solid 1px #8a8888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recetas__principal .cards img {
  width: 500px;
  border-radius: 5px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.recetas__principal .cards h2, .recetas__principal .cards .cards__container p, .cards__container .recetas__principal .cards p {
  padding-left: 2rem;
  font-size: 200%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.recetas__principal .cards h2 a, .recetas__principal .cards .cards__container p a, .cards__container .recetas__principal .cards p a {
  color: #545b69;
  text-decoration: none;
}

.recetas__principal .cards h2 a:hover, .recetas__principal .cards .cards__container p a:hover, .cards__container .recetas__principal .cards p a:hover {
  color: #a59e95;
}

.recetas__principal .cards p {
  padding: 1rem 0 0 2rem;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-size: 125%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3rem;
}

.recetas__nombre {
  font-size: 400%;
  text-align: center;
  padding: 4rem;
  background-color: #faebd7;
  color: #363c49;
}

.recetas__nombre p {
  padding: 3rem 0 1px;
}

.recetas__ingredientes {
  padding: 2rem;
  font-size: 200%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  border: solid 1px #8a8888;
  margin: 2.5% 20%;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 5px;
}

.recetas__ingredientes img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  margin: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  border-radius: 10px;
}

.recetas__ingredientes h2, .recetas__ingredientes .cards__container p, .cards__container .recetas__ingredientes p {
  margin: 0 auto;
  padding-bottom: 1rem;
  font-size: 150%;
}

.recetas__ingredientes h2, .recetas__ingredientes .cards__container p, .cards__container .recetas__ingredientes p {
  padding-bottom: 0.5rem;
}

.recetas__ingredientes ul {
  margin: 0 auto;
  padding: 2rem 2rem 0.5rem 5rem;
}

.recetas__ingredientes li {
  padding-top: 0.5rem;
}

.recetas__procedimiento {
  padding: 2rem;
  font-size: 200%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  border: solid 1px #8a8888;
  margin: 2.5% 20%;
  border-radius: 5px;
}

.recetas__procedimiento h2, .recetas__procedimiento .cards__container p, .cards__container .recetas__procedimiento p {
  font-size: 175%;
  text-align: center;
  padding: 2rem;
}

.recetas__procedimiento h3 {
  font-size: 125%;
}

.recetas__procedimiento ol {
  padding: 2rem;
  line-height: 2.5rem;
  list-style: decimal;
}

.recetas__procedimiento li {
  padding: 1rem;
}

.recetas__otros {
  font-size: 200%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 1fr, 1fr;
  border: solid 1px #8a8888;
  border-radius: 5px;
  margin: auto 20% 2rem;
}

.recetas__otros h2, .recetas__otros .cards__container p, .cards__container .recetas__otros p {
  padding: 2rem;
  text-align: center;
  font-size: 175%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.recetas__otros img {
  width: 100%;
  padding: 1rem;
}

footer {
  background: #363c49;
  color: #faebd7;
  text-align: center;
  padding-bottom: 20px;
}

footer h2, footer .cards__container p, .cards__container footer p {
  font-size: 250%;
  padding: 2rem;
}

footer p {
  padding: 1rem;
  font-size: 150%;
}

footer a {
  text-decoration: none;
  color: #faebd7;
}

footer a:hover {
  color: #a59e95;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Box Shadow Outset */
.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1400px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 75%;
  }
  .index__banner {
    font-size: 250%;
  }
  .index__banner p {
    font-size: 80%;
  }
  .index__cards {
    margin-inline: 5%;
  }
  .recetas__principal {
    margin-inline: 5%;
  }
  .recetas__principal .cards img {
    width: 300px;
  }
  .recetas__principal .cards h2, .recetas__principal .cards .cards__container p, .cards__container .recetas__principal .cards p {
    font-size: 200%;
  }
  .recetas__ingredientes {
    font-size: 150%;
    margin-inline: 5%;
  }
  .recetas__ingredientes img {
    width: 100%;
  }
  .recetas__procedimiento {
    padding: 2rem;
    font-size: 150%;
    margin-inline: 5%;
  }
  .recetas__procedimiento h3 {
    text-align: center;
    padding: 2rem 0 0;
  }
  .recetas__otros {
    font-size: 150%;
    margin-inline: 5%;
  }
}

@media (max-width: 992px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .nav ul a {
    display: block;
  }
  .index__banner p {
    line-height: 3rem;
    padding: 1rem;
  }
  .index__cards {
    font-size: 175%;
    margin-inline: 5%;
  }
  .recetas__principal {
    margin-inline: 5%;
  }
  .recetas__principal .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recetas__principal .cards img {
    width: 100%;
  }
  .recetas__principal .cards h2, .recetas__principal .cards .cards__container p, .cards__container .recetas__principal .cards p {
    padding: 2rem;
  }
  .recetas__ingredientes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-inline: 5%;
  }
  .recetas__ingredientes img {
    width: 100%;
  }
  .recetas__ingredientes h2, .recetas__ingredientes .cards__container p, .cards__container .recetas__ingredientes p {
    padding: 1rem;
  }
  .recetas__ingredientes ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .recetas__procedimiento {
    margin-inline: 5%;
  }
  .recetas__otros {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    margin-inline: 5%;
  }
  .recetas__otros h2, .recetas__otros .cards__container p, .cards__container .recetas__otros p {
    padding-bottom: 2rem;
  }
  .recetas__otros img {
    width: 75%;
  }
  .recetas__otros a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .body__404 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 300%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .body__404 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body__404 img {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
  .nav ul {
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
  .nav ul a {
    text-decoration: none;
    color: #faebd7;
    background: #363c49;
    font-weight: bold;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: block;
  }
  .nav ul a:hover {
    color: #363c49;
    background: #faebd7;
  }
  .nav__index {
    display: none;
  }
  .index__banner {
    font-size: 175%;
    text-align: center;
    background-color: #faebd7;
    color: #363c49;
  }
  .index__banner h1 {
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index__banner p {
    background-color: #363c49;
    color: #faebd7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2.5rem;
  }
  .index__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    color: #262a33;
    gap: 5rem;
    margin-inline: 5%;
  }
  .index__cards a {
    text-decoration: none;
    color: #262a33;
  }
  .index__cards a:hover {
    color: #6e6a63;
  }
  .recetas__principal {
    font-size: 1.5rem;
    border: solid 1px #8a8888;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-inline: 5%;
  }
  .recetas__principal .cards {
    border-bottom: solid 1px #8a8888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recetas__principal .cards img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-radius: 5px;
  }
  .recetas__principal .cards h2, .recetas__principal .cards .cards__container p, .cards__container .recetas__principal .cards p {
    padding: 2rem;
    font-size: 200%;
  }
  .recetas__principal .cards h2 a, .recetas__principal .cards .cards__container p a, .cards__container .recetas__principal .cards p a {
    color: #545b69;
    text-decoration: none;
  }
  .recetas__principal .cards h2 a:hover, .recetas__principal .cards .cards__container p a:hover, .cards__container .recetas__principal .cards p a:hover {
    color: #a59e95;
  }
  .recetas__principal .cards p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2.5rem;
    font-size: 2rem;
  }
  .recetas__ingredientes {
    padding: 2rem;
    font-size: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid 1px #8a8888;
  }
  .recetas__ingredientes img {
    width: 100%;
  }
  .recetas__ingredientes h2, .recetas__ingredientes .cards__container p, .cards__container .recetas__ingredientes p {
    padding: 1rem;
  }
  .recetas__procedimiento {
    padding: 2rem;
    font-size: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid 1px #8a8888;
    line-height: 2rem;
    margin-inline: 5%;
  }
  .recetas__procedimiento h3 {
    text-align: center;
    padding: 2rem 0 0;
  }
  .recetas__procedimiento h4 {
    font-size: 125%;
  }
  .recetas__otros {
    padding: 2rem;
    font-size: 150%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
    border: solid 1px #8a8888;
    margin-inline: 5%;
  }
  .recetas__otros a {
    -ms-grid-column: 1;
        grid-column-start: 1;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recetas__otros h2, .recetas__otros .cards__container p, .cards__container .recetas__otros p {
    text-align: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 6;
    padding-bottom: 2rem;
  }
  .recetas__otros img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */