footer {
    background: #363c49;
    color: #faebd7;
    text-align: center;
    padding-bottom: 20px;
    h2 {
        font-size: 250%;
        padding: 2rem;
    }
    p {
        padding: 1rem;
        font-size: 150%;
    }
    a {
        text-decoration: none;
        color: #faebd7;
    }
    a:hover {
        color: #a59e95;
    }
}