@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Mono:wght@300;400&display=swap');
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #f5f1ec;
}

.body__404 {
    padding: 5% 30%;
    display: grid;
    font-size: 300%;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
        div {
            display: flex;
        }
        img {
            grid-row-start: 1;
            grid-row-end: 3;
        }
        p {
            grid-column-start: 1;
        }
        
}

.button__404 {
    background-color: #363c49;
    border: none;
    border-radius: 10px;
    color: #faebd7;
    padding: 15px 30px;
    grid-row-start: 2;
}