.index__banner {
    font-size: 300%;
    text-align: center;
    background-color: #faebd7;
    color: #363c49;
        h1{
            font-weight: 300;
            height: 25vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p {
            background-color: #363c49;
            color: #faebd7;
            height: 25vh;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 5rem;
        }
}

.index__cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 20%;
    font-size: 2rem;
    color: #262a33;
    gap: 5rem;
    padding-block: 5rem;
        a {
            text-decoration: none;
            color: #262a33;
        }
        a:hover {
            color: #6e6a63;
        }
}

.recetas__cards {
    display: grid;
    height: 25vh;
    position: relative;
    border-radius: 10px;
}

.cards__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
        h2 {
            background-color: #f5f1ecc5;
            margin-inline: 24%;
            padding: 1rem;
            border-radius: 10px;
        }
        p {
            @extend h2;
            margin-inline: 20%;
        }
}

.recetas__carnes::before {
    background-image: url(../images/recetas--bg/carnes.jpeg);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 15px;
    filter: blur(2px);
}
.recetas__pastas::before{
    background-image: url(../images/recetas--bg/pastas.jpeg);
    @extend .recetas__carnes::before;
}
.recetas__pescados::before {
    background-image: url(../images/recetas--bg/pescados.jpeg);
    @extend .recetas__carnes::before;
}
.recetas__vegetales::before {
    background-image: url(../images/recetas--bg/vegetales.jpeg);
    @extend .recetas__carnes::before;
}
.recetas__pasteleria::before {
    background-image: url(../images/recetas--bg/pasteleria.jpeg);
    @extend .recetas__carnes::before;
}
.recetas__panaderia::before {
    background-image: url(../images/recetas--bg/panaderia.jpeg);
    @extend .recetas__carnes::before;
}