@media (max-width: 1400px){
    .nav {
        display: flex;
        justify-content: space-between;
        font-size: 75%;
    }

    .index__banner {
        font-size: 250%;
            p {
                font-size: 80%;
            }
    }

    .recetas__principal {
        .cards {
            img{
                width: 300px;
            }
            h2 {
                font-size: 200%;
            }
        }
    }

    .recetas__ingredientes {
        font-size: 150%;
        img {
            width: 100%;
        }
    }

    .recetas__procedimiento {
        padding: 2rem;
        font-size: 150%;
        h3 {
            text-align: center;
            padding: 2rem 0 0;
        }   
    }
    
    .recetas__otros {
        font-size: 150%;
    }
}

@media (max-width: 992px){
    .nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
            ul {
                a {
                    display: block;
                }
            }    
    }

    .index__banner {
        p {
            line-height: 3rem;
            padding: 1rem;
        }
}

    .index__cards {
        font-size: 175%;
    }

    .recetas__principal {
        .cards {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 100%;
            }
            h2 {
                padding: 2rem;
            }
        }
    }

    .recetas__ingredientes {
        display: flex;
        flex-direction: column;
            img {
                width: 100%;
            }   
            h2 {
                padding: 1rem;
            }  
            ul {
                width: max-content;
            }
    }
    
    .recetas__otros {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
            h2 {
                padding-bottom: 2rem;
            }
            img {
                width: 75%;
            }
            a {
                display: flex;
                justify-content: space-around;
            }
    }

    .body__404 {
        display: flex;
        flex-direction: column;
        font-size: 300%;
        justify-items: center;
        align-items: center;
        gap: 1rem;
            div {
                display: flex;
            }
            img {
                width: 300px;
            }
            
    }


}

@media (max-width: 576px){
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
            ul {
                list-style: none;
                font-size: 75%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                text-align: center;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: #faebd7;
                    background: #363c49;
                    font-weight: bold;
                    transition: all .5s;
                    display: block;
                }
                a:hover {
                    color: #363c49;
                    background: #faebd7;
                }
            }
            
    }

    .index__banner {
        font-size: 175%;
        text-align: center;
        background-color: #faebd7;
        color: #363c49;
            h1{
                font-weight: 300;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p {
                background-color: #363c49;
                color: #faebd7;
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 2.5rem;
            }
    }

    .index__cards {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        color: #262a33;
        gap: 5rem;
            a {
                text-decoration: none;
                color: #262a33;
            }
            a:hover {
                color: #6e6a63;
            }
    }

    .recetas__principal {
        font-size: 1.5rem;
        border: solid 1px #8a8888;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .cards {
            border-bottom: solid 1px #8a8888;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                justify-content: center;
                width: 100%;
                border-radius: 5px;
            }
            h2 {
                padding: 2rem;
                font-size: 200%;
                a {
                    color: #545b69;
                    text-decoration: none;
                }
                a:hover {
                    color: #a59e95;
                }
            }
            p {
                justify-content: center;
                align-items: center;
                line-height: 2.5rem;
                font-size: 2rem;
            }
        }
    }

    .recetas__ingredientes {
        padding: 2rem;
        font-size: 150%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: solid 1px #8a8888;
            img {
                width: 100%;
            }   
            h2 {
                padding: 1rem;
            }  
    }

    .recetas__procedimiento {
        padding: 2rem;
        font-size: 150%;
        display: flex;
        flex-direction: column;
        border: solid 1px #8a8888;  
        line-height: 2rem;
            h3 {
                text-align: center;
                padding: 2rem 0 0;
            }   
            h4 {
                font-size: 125%;
            }
    }
    
    .recetas__otros {
        padding: 2rem;
        font-size: 150%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        border: solid 1px #8a8888;
        margin: 1% 20%;
            a {
                grid-column-start: 1;
                justify-items: center;
                align-items: center;
            }
            h2 {
                text-align: center;
                grid-column-start: 1;
                grid-column-end: 6;
                padding-bottom: 2rem;
            }
            img {
                width: 100%;
            }
    }
}

