@for $i from 1 through 5 {
    .box-size-#{$i} {width:15rem * $i; height: 5rem * $i;}
}



$color: black, blue, green, red, purple;

@each $box-color in $color {
    .box-#{$box-color} {
        background-color: $box-color;
    }
}



$font-color: (
    1: red,
    2: yellow,
    3: white,
    4: blue,
    5: green,
);

@each $box, $color in $font-color {
    .box-#{$box} {
        color: $color;
    }
}




@for $i from 1 through 5 {
    .size-#{$i} {font-size: 1rem * $i;}
}



.sassII {
    text-align: center;
    font: bold;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
